.mainDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.headingFirstPart {
  font-weight: 700;
  font-size: 70px;
  line-height: 100.63px;
  align-items: center;
  color: #000000;
}
.heading {
  font-weight: 700;
  font-size: 70px;
  line-height: 100.63px;
  align-items: center;
  color: #d97083;
}
.inputDivs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.input {
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  width: 300px;
  height: 30px;
}
.large {
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  width: 300px;
  height: 30px;
}
input::placeholder {
  padding-left: 10px;
  color: black;
}
.joinBtn {
  background-color: #d97083;
  border: 1px solid #d97083;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  width: 190px;
  height: 30px;
}
.tableHeading {
  font-weight: 700;
  font-size: 70px;
}
.table {
  border-collapse: collapse;
}
.oddRow {
  background-color: #d97083;
  opacity: 0.6;
  font-size: 20px;
  font-weight: 900;
}
.evenRow {
  background-color: #d97083;
  opacity: 0.24;
  font-size: 20px;
  font-weight: 900;
}
.data {
  padding: 10px;
}
input.large {
  display: inline-block;
}
input.small {
  display: none;
}

/* Media query for screens 768px and small */
@media (max-width: 768px) {
  input.large {
    display: none;
  }
  input.small {
    display: inline-block;
  }
  .mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .headingFirstPart {
    font-weight: 700;
    font-size: 90px;
    line-height: 100.63px;
    text-align: center;

    color: #000000;
  }
  .heading {
    font-weight: 700;
    font-size: 90px;
    line-height: 100.63px;
    text-align: center;
    color: #d97083;
  }
  .inputDivs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .input {
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    width: 300px;
    height: 30px;
  }
  .small {
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    width: 300px;
    height: 30px;
  }
  input::placeholder {
    padding-left: 10px;
    color: black;
  }
  .joinBtn {
    background-color: #d97083;
    border: 1px solid #d97083;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    width: 190px;
    height: 30px;
  }
  .tableHeading {
    font-weight: 700;
    font-size: 50px;
  }
  .table {
    border-collapse: collapse;
  }
  .oddRow {
    background-color: #d97083;
    opacity: 0.6;
    font-size: 16px;
    font-weight: 700;
  }
  .evenRow {
    background-color: #d97083;
    opacity: 0.24;
    font-size: 16px;
    font-weight: 700;
  }
  .data {
    padding: 6px;
  }
}
